@font-face {
  font-family: 'Arial-Black';
  src: url('~assets/fonts/Arial-Black.woff2') format('woff2'),
    url('~assets/fonts/Arial-Black.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Calibri-Regular';
  src: url('~assets/fonts/Calibri-Regular.woff2') format('woff2'),
    url('~assets/fonts/Calibri-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Gobold-Hollow';
  src: url('~assets/fonts/Gobold-Hollow.woff') format('woff'),
    url('~assets/fonts/Gobold-Hollow.eot') format('eot');
  font-weight: normal;
}
