$black: #000000;
$black-bg: #1f1f1f;
$green: #1b692c;
$green-bg: #155823;
$yellow: #e8e268;
$yellow-bg: #e1f665;
$yellow-text-footer: rgba(225, 246, 101, 0.5);
$grey: #948f8f;
$grey-link: rgba(0, 0, 0, 0.5);
$white: #ffffff;
$placeholder: rgba(0, 0, 0, 0.39);
$input: #f2f5f6;

$blue: #1890ff;
$red: #ff4d4f;

$speed: 0.3s;

$navbar-height: 76px;
$top-padding: calc($navbar-height + 105px);

$font-Arial: 'Arial-Black', sans-serif;
$font-Calibri: 'Calibri-Regular', sans-serif;
$font-Gobold: 'Gobold-Hollow', sans-serif;
