.Title {
  font-family: $font-Arial;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  color: $black;
  text-transform: uppercase;

  &_h1 {
    font-size: em(50px);
  }
  &_h2 {
    font-size: em(26px);
  }
  &_h3 {
    font-size: em(22px);
    font-weight: 400;
  }
}
