.Title {
  font-family: $font-Arial;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;

  &_h1 {
    font-size: em(50px);
    // @include iftablet {
    //   font-size: em(34px);
    // }
  }
  &_h2 {
    font-size: em(25px);
    line-height: 152.5%;
  }
  &_h3 {
    font-size: em(22px);
    font-weight: 400;
  }
}
