.Title {
  font-family: $font-Arial;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;

  &_h1 {
    font-size: em(50px);
    @include ifmobile {
      font-size: em(34px);
    }
  }
  &_h2 {
    font-size: em(35px);
    line-height: 120%;
    @include ifmobile {
      font-size: em(16px);
    }
  }
  &_h3 {
    font-size: em(25px);
    @include ifmobile {
      font-size: em(16px);
    }
  }
}
