.Wrapper {
  background: $black-bg;
  min-height: em(720px);

  @include ifmobile {
  }
}
.Header {
  padding-bottom: em(45px);
  @include ifmobile {
    padding-bottom: em(30px);
  }
  &_Title {
    margin-bottom: em(35px);
    @include ifmobile {
      margin-bottom: em(30px);
    }
  }

  &_Description {
    max-width: em(458px);
    margin-bottom: em(90px);
    @include ifmobile {
      margin-bottom: em(60px);
    }
    &_Image {
      position: relative;
      top: em(3px);
      width: em(28px);
      height: em(22px);
      display: inline-block;
      @include ifmobile {
      }
    }
  }

  &_Image {
    position: absolute;
    top: em($top-padding);
    right: em(-85px);
    width: em(481px);
    height: em(468.73px);
    @include ifmobile {
      position: relative;
      top: 0;
      right: 0;
      width: em(272px);
      height: em(295px);
      margin-bottom: em(50px);
    }
  }

  &_Ps {
    margin-bottom: em(40px);
    @include ifmobile {
    }
  }

  &_IconArrow {
    width: em(125px);
    position: relative;
    left: em(-35px);
    transform: scale(-1, 1) rotateZ(-30deg);
    @include ifmobile {
      width: em(80px);
      left: em(-20px);
    }
  }
}
