.Sticker {
  width: max-content;
  min-width: em(145px);
  min-height: em(64px);
  padding: em(10px) em(35px);
  border-radius: em(10px);
  @extend %center;

  &_Title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: em(14px);
    line-height: 152.5%;
    text-align: center;
    text-transform: uppercase;
  }
}
