.Sticker {
  width: max-content;
  min-width: em(230px);
  min-height: em(64px);
  padding: em(5px) em(10px);
  border-radius: em(10px);
  @extend %center;
  @include ifmobile {
    min-width: em(163px);
    min-height: em(50px);
  }

  &_Title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: em(14px);
    line-height: 152.5%;
    text-align: center;
    text-transform: uppercase;

    @include ifmobile {
      font-size: em(12px);
    }
  }
}
