.Container {
  width: 100%;
  position: absolute;
  z-index: 1000;

  .Navbar {
    width: 100%;
    max-width: em(1066px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid $black;
    padding: em(21px) em(20px) em(11px);

    .NavbarNav {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .NavbarAuth {
      display: flex;
      flex-direction: row;
      align-items: center;

      .Btn_Login {
        margin-left: em(20px);
        height: em(44px);
      }
    }
  }
}
