.Wrapper {
  background: $green;
}

.ComingSoon {
  @extend %center;
  flex-direction: column;
  padding-top: em(145px);
  padding-bottom: em(100px);
  min-height: 100vh;

  &_Title {
    margin-bottom: em(130px);
    @include iftablet {
      max-width: em(400px);
    }
    h1 {
      font-family: $font-Gobold;
      font-style: normal;
      font-weight: 400;
      font-size: em(150px);
      line-height: 100%;
      text-transform: uppercase;
      color: $yellow-bg;
      text-align: center;
      @include iftablet {
        font-size: em(130px);
        line-height: 130%;
      }

      @include ifmobile {
        font-size: em(90px);
        line-height: 120%;
      }
    }
  }

  &_Action {
    position: relative;

    .Button {
      width: em(205px);
      height: em(62px);

      @include iftablet {
        width: em(156px);
        height: em(50px);
      }
      @include ifmobile {
        width: em(156px);
        height: em(42px);
      }
    }
  }

  &_Icon {
    position: absolute;
    top: em(-40px);
    right: em(-110px);
    width: em(70px);
    height: em(58.93px);
    @include iftablet {
      top: em(-77px);
      right: em(-90px);
      transform: rotateZ(-15deg);
    }
    @include ifmobile {
      top: em(-90px);
      right: em(-60px);
      transform: rotateZ(-30deg);
    }
  }
}
