.Wrapper {
  background: $black;
}

.HowItWork {
  padding-top: em(140px);
  padding-bottom: em(70px);

  @include ifmobile {
    padding-top: em(94px);
    padding-bottom: em(101px);
  }

  &_Title {
    text-align: center;
    margin-bottom: em(72px);

    @include ifmobile {
      margin-bottom: em(30px);
    }
  }

  &_Instructions {
    width: 100%;
    min-height: em(385px);
    border: em(2px) solid $yellow;
    border-radius: em(10px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: em(60px) em(68px);
    padding: em(40px) em(60px);

    @include ifmobile {
      min-height: em(280px);
      gap: 0;
      padding: em(35px) em(20px);
    }

    .Instruction {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include ifmobile {
        margin-bottom: em(18px);
      }

      &:last-child {
        margin-bottom: 0;
      }

      &_Stage {
        margin-right: em(36px);
        @include ifmobile {
          margin-right: em(15px);
        }
        span {
          font-family: $font-Gobold;
          font-style: normal;
          font-weight: 400;
          font-size: em(119px);
          line-height: 100%;
          text-transform: uppercase;
          color: $yellow;

          @include ifmobile {
            font-size: em(70px);
          }
        }
      }

      &_Description {
        max-width: em(254px);
        @include ifmobile {
          max-width: em(151px);
        }

        p {
          font-style: normal;
          font-weight: 900;
          font-size: em(15px);
          line-height: 152.5%;
          text-transform: uppercase;
          color: $white;
          @include ifmobile {
            font-size: em(12px);
          }
        }

        &_Icon {
          display: inline-block;
          position: relative;
          top: em(2px);
          width: em(18px);
          height: em(18px);
        }
      }
    }
  }
}
