.Wrapper {
  background: $green-bg;
}

.Benefits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: em(283px);
  padding-bottom: em(240px);

  @include ifmobile {
    padding-top: em(70px);
    padding-bottom: em(64px);
    justify-content: center;
    gap: em(40px) em(72px);
  }

  &_Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    --animate-delay: 0.2s;
    @include ifmobile {
      min-width: em(100px);
    }

    .Number {
      margin-bottom: em(33px);
      @include ifmobile {
        margin-bottom: em(20px);
      }
      span {
        font-size: em(100px);
        line-height: 100%;
        font-family: $font-Gobold;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        color: $yellow-bg;
        @include ifmobile {
          font-size: em(70px);
        }
      }
    }

    .Description {
      width: max-content;
      display: flex;
      align-items: center;
      span {
        font-size: em(15px);
        font-family: $font-Arial;
        font-style: normal;
        font-weight: 900;
        text-transform: uppercase;
        color: $yellow-bg;
        text-align: center;
        @include ifmobile {
          width: 100%;
          max-width: em(140px);
          font-size: em(12px);
        }
      }
    }
  }

  &_Item3 {
    --animate-delay: 0.9s;
  }
}
