.Li {
  line-height: 100%;
  list-style: none;
  // min-width: em(60px);
  margin-left: em(80px);
  &:first-child {
    margin-left: 0;
  }

  @include ifmobile {
    margin-left: 0;
    margin-bottom: em(25px);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.Link {
  font-size: em(14px);
  line-height: 100%;
  white-space: nowrap;
  font-weight: 600;
  font-style: normal;
  font-family: 'Montserrat';
  color: $black;
  text-transform: uppercase;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: em(-5px);
    left: 0;
    height: 1px;
    background-color: $yellow;
  }

  @include iftablet {
    font-size: em(14px);
  }

  @include ifmobile {
    color: $white;
  }
}

.Link:hover {
  color: $yellow !important;
  &::after {
    animation: bottomLine 0.5s linear forwards;
  }
}

@keyframes bottomLine {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
