.Li {
  list-style: none;
  min-width: em(60px);
  margin-left: em(80px);
  &:first-child {
    margin-left: 0;
  }
}

.Link {
  font-size: em(14px);
  font-weight: 600;
  font-style: normal;
  font-family: 'Montserrat';
  color: $black;
  text-transform: uppercase;
}

.Link:hover {
  color: $grey-link;
}
