.Padding_Top {
  padding-top: em($top-padding);
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  animation: fadeAndScale 0.8s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  // animation-delay: -0.2s;
  transform-origin: center bottom;
  &_Logo {
    width: em(209px);
    height: em(56px);
    padding-top: em(10px);
  }

  &_Title {
    width: 100%;
    max-width: em(745px);
    margin-bottom: em(10px);
    span {
      color: $green;
    }
  }
}

.Subtitle {
  padding-left: em(284px);
  animation: fadeAndScale 2s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  transform-origin: right bottom;
  h2 {
    font-size: em(25px);
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
  }
}

@keyframes fadeAndScale {
  0% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }

  50% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
