.Wrapper {
  background: $black-bg;

  .Company {
    padding-top: em(94px);
    padding-bottom: em(90px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @include ifmobile {
      padding-top: em(60px);
      padding-bottom: em(46px);
    }

    &_Aboutinfo {
      padding-top: em(80px);
      @include ifmobile {
        padding-top: 0;
        margin-bottom: em(40px);
      }
      .Title {
        margin-bottom: em(35px);
        @include ifmobile {
          margin-bottom: em(40px);
        }
      }

      .Description {
        max-width: em(484px);
      }
    }

    &_Image {
      position: relative;
      right: em(-60px);
      width: em(477px);
      height: em(600px);
      @include ifmobile {
        right: 0;
        width: em(272px);
        height: em(295px);
      }
    }
  }
}
