@import './../src/assets/scss/core.scss';

:root {
  --animate-delay: 0.2s !important;
}

.Header_Content_Description,
.Header_Partners {
  --animate-delay: 0.5s !important;
}

.animate__fadeInRight {
  position: absolute !important;
  top: em(240px) !important;
  right: em(-100px) !important;
  @include ifmobile {
    position: relative !important;
    top: 0 !important;
    right: em(-25px) !important;
  }
}

.AboutProfile_Description {
  --animate-delay: 0.5s !important;
}

path.dot {
  fill: $green !important;
}

.IconBlack path.text {
  fill: $black !important;
}

.IconWhite path.text {
  fill: $white !important;
}

.ComingSoon_Button {
  --animate-delay: 0.5s !important;
}
