@import './../src/assets/scss/core.scss';

:root {
  --animate-delay: 0.2s !important;
}

.Header_Content_Description,
.Header_Partners {
  --animate-delay: 0.5s !important;
}

.animate__fadeInRight {
  position: absolute !important;
  top: em(240px) !important;
  right: em(-100px) !important;
  @include ifmobile {
    position: relative !important;
    top: 0 !important;
    right: em(-25px) !important;
  }
}

.AboutProfile_Description {
  --animate-delay: 0.5s !important;
}

path.dot {
  fill: $green !important;
}

.IconBlack path.text {
  fill: $black !important;
}

.IconWhite path.text {
  fill: $white !important;
}

.ComingSoon_Button {
  --animate-delay: 0.5s !important;
}

.marquee-container {
  position: absolute !important;
}

.MarqueeText {
  font-family: $font-Gobold;
  font-style: normal;
  font-weight: 400;
  font-size: em(119px);
  line-height: 120%;
  text-transform: uppercase;
  color: $green;

  @include ifmobile {
    font-size: em(70px);
  }
}

.MarqueeText_BudgetPlanningPage {
  color: $yellow !important;
}

.MarqueeText_HelpCenter {
  color: $yellow !important;
}

.MarqueeText_CareersHeader {
  color: $green !important;
}

//style for input phone
//star
.react-tel-input {
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 100% !important;
  line-height: 100% !important;
}

.react-tel-input .form-control {
  $size: 15px;
  font-family: 'Montserrat', sans-serif !important;
  line-height: 100% !important;
  font-size: em($size) !important;
  width: 100% !important;
  height: em(38px) !important;
  padding-left: em(40px) !important;
  background: none !important;
  outline: none !important;
  border: none !important;
  position: relative !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  color: hsla(0, 0%, 100%, 0.4) !important;
  border-bottom: em(2px) solid $white !important;
  @include placeholder-color(hsla(0, 0%, 100%, 0.4));
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;

  @include ifmobile {
    $size: 12px;
    font-size: em($size) !important;
  }

  &:focus {
    border-color: $yellow !important;
  }
}

.react-tel-input .flag-dropdown {
  background: none !important;
  border: none !important;
}
.react-tel-input .selected-flag {
  padding-left: em(5px) !important;
  &:hover {
    background: none !important;
  }
}
.react-tel-input .flag-dropdown.open .selected-flag {
  background: none !important;
}

.react-tel-input .country-list {
  width: max-content !important;
  max-width: em(300px) !important;
  box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%) !important;
  border-radius: em(10px) !important;
  padding: em(5px) 0 !important;
  &::-webkit-scrollbar {
    width: em(5px) !important;
  }
  &::-webkit-scrollbar-track {
    margin: em(10px) 0 !important;
    background: rgba(255, 255, 255, 0.2) !important;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey !important;
    border-radius: em(10px, 14px) !important;
  }
}

.react-tel-input .country-list .country-name,
.react-tel-input .country-list .country .dial-code {
  font-size: em(14px) !important;
  font-family: 'Montserrat' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  @include ifmobile {
    font-size: em(12px) !important;
  }
}
//end

//стили карты
.leaflet-marker-icon.leaflet-interactive {
  border: none;
  background: none;
}
