@import './../src/assets/scss/core.scss';

:root {
  --animate-delay: 0.2s !important;
}

.Header_Content_Description,
.Header_Partners {
  --animate-delay: 0.5s !important;
}

.animate__fadeInRight {
  position: absolute !important;
  top: em(240px) !important;
  right: em(-100px) !important;
}
