.Content {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.ScrollToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: em(60px);
  height: em(60px);
  position: fixed;
  bottom: em(100px);
  right: em(30px);
  z-index: 99;
  border: none;
  outline: none;
  background-color: $yellow;
  cursor: pointer;
  border-radius: em(10px);
  transform: rotateZ(-90deg);
  box-shadow: 0 em(2px) em(16px) rgba(255, 255, 35, 0.5);
  transition: box-shadow $speed;
  scroll-behavior: smooth;
  &:hover {
    background: darken($yellow, 10%);
    box-shadow: 0 em(2px) em(16px) rgba(249, 255, 66, 0.507);
  }

  &:active {
    background: darken($yellow, 20%);
    box-shadow: none;
  }

  @include ifmobile {
    width: em(40px);
    height: em(40px);
    bottom: em(60px);
  }

  .Icon {
    width: em(20px);
    @include ifmobile {
      width: em(15px);
    }
  }
}
